@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: white;
}
.naves .text_url{
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

